<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <div class="level">
          <div class="level-item">
            <figure class="image is-64x64">
              <img src="/assets/Cargo-Logo-Small.png" alt="Cargo Logo">
            </figure>
            Crates.io Status Page
          </div>
        </div>
      </h1>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <twitter-feed @user={{store.user}} />
  </div>
</div>
